<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Regression Assignment</title>

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/index.css')}}" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" defer></script>
	<script type="module" src="{{url_for('static', filename='scripts/index.js')}}" defer></script>
</head>

<body>
	<div id="custom-alert"></div>
	<h1>Calculate Charge?!</h1>
	<div class="input-details">
		<div class="spacing">
			<input class="form-control" type="text" id="age" placeholder="Age: (integer)" /><br />
			<input class="form-control" type="text" id="sex" list="sex-list" placeholder="Sex: (choose from dropdown)" /><br />
			<datalist id="sex-list">
				<option value="male"></option>
				<option value="female"></option>
			</datalist>
			<input class="form-control" type="text" id="bmi" placeholder="BMI: (decimal)" /><br />
			<input class="form-control" type="text" id="children" list="children-list" placeholder="Children: (choose from dropdown)" /><br />
			<datalist id="children-list">
				<option value="0"></option>
				<option value="1"></option>
				<option value="2"></option>
				<option value="3"></option>
				<option value="4"></option>
				<option value="5"></option>
			</datalist>
			<input class="form-control" type="text" id="smoker" list="smoker-list" placeholder="Smoker: (choose from dropdown)" /><br />
			<datalist id="smoker-list">
				<option value="yes"></option>
				<option value="no"></option>
			</datalist>
			<input class="form-control" type="text" id="region" list="region-list" placeholder="Region: (choose from dropdown)" /><br />
			<datalist id="region-list">
				<option value="northwest"></option>
				<option value="northeast"></option>
				<option value="southwest"></option>
				<option value="southeast"></option>
			</datalist>
			<div class="align-res">
				<input id="submit" class="btn btn-primary btn-lg" type="submit" value="Predict" />
				<input id="reset" class="btn btn-primary btn-lg" type="submit" value="Reset" />
				<h5 id="h5" hidden>Prediction:</h5>
				<input class="form-control" type="text" id="result"  hidden/><br />
			</div>
		</div>
	</div>

	<template id="template-alert">
		<div id="alert" class="">
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
			<strong>
				<div id="alert-type"></div>
			</strong>
			<div id="alert-message"></div>
		</div>
	</template>
</body>

</html>