@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    background-color: green;
}

h1 {
	text-align: center;
    color: wheat;
}

h5 {
    margin-right: 5%;
    color: wheat;
    padding-top: 2%;
}

.spacing {
    width: 50%;
    position: relative;
    text-align: center;
}

.input-details {
    padding: 5%;
	width: 100%;
	display: inline-block;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.btn {
	border: none !important;
	margin-right: 2%;
	background-color: black !important;
    color: wheat !important;
}

input[type="submit"] {
    margin-right: 10%;
}

.align-res {
    display: inline-flex;
    width: 100%;
}

#result {
    width: 50%;
}

.alert {
	display: flex !important;
}

